<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Expense:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div id="eventData" class="col-8 ">
            <form id="donutData">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="eventDescription" disabled>
                <label for="eventDescription">Amount</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="eventCategory" disabled>
                <label for="eventCategory">Category</label>
              </div>
              <div class="form-floating mb-3">
                <input type="date" class="form-control" id="eventDueDate" disabled>
                <label for="eventDueDate">Week Number</label>
              </div>
            </form>
          </div>
          <div id="thesholdData" class="col-5 ">

          </div>
        </div>
      </div>
      <div class="modal-footer" id="buttons">
        <button id="editEvent" type="button" class="btn" aria-label="Close" data-bs-toggle="modal"
          data-bs-target="#entryModal" data-select="update-event">Edit Expense</button>
        <button id="deleteEvent" type="button" class="btn">Delete Expense</button>
      </div>
    </div>
  </div>
</div>