<header><link rel="stylesheet" href="/css/style.css" /></header>

<body>
  <section id="about">
    <h1 class="about-header">ABOUT</h1>
    <p>
      Welcome to your Interactive Budget Tracker, a tool to help you to track your expenses against a pre-determined
      budget.
      We help you to set financial goals and stick to them.
      We use graphs and charts to help you visualise how you are tracking each week.
      We offer a simple, streamlined and intuitive user interface, allowing you to effectively manage your finances.
    </p>
  </section>

  <!-- hero image -->
  <img src="/images/hero.jpg"></img>

  <!-- login button -->
  <section>
    <a href="" id="sign-in" data-bs-toggle="modal" data-bs-target="#loginModal">SIGN IN</a>
  </section>

  <!-- footer -->
  <footer>
    <h2>Project by Alexa, Faiza and Alex</h2>
  </footer>
</body>