<body class="mb-5">
  <div class="container">
    <section id="about" class="mt-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="about-header">Welcome!</h1>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
          <p>
            Welcome to your Interactive Budget Tracker, a tool to help you to track your expenses against a
            pre-determined
            budget. We help you to set financial goals and stick to them. We use graphs and charts to help you visualise
            how you are tracking each week.
            We offer a simple, streamlined and intuitive user interface, allowing you to effectively manage your
            finances.
          </p>
        </div>
      </div>
    </section>

    <!-- Hero Image -->
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3 text-center"> <!-- Center the column horizontally -->
        <img src="/images/hero.jpg" class="img-fluid" alt="Hero Image" style="max-width: 100%; height: auto;">
      </div>
    </div>

    <!-- Login Button -->
    <div class="row mt-5 mb-5">
      <div class="text-center">
        <a href="/login-modal.handlebars" id="login" class="btn btn-primary btn-block"
          style="background-color: #ff69b4;" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a>
      </div>
    </div>



  </div>
</body>