<section class="card m-3">
  <div id="barGraph" class="svg-container"></div>
  {{> event-modal}}
</section>
<section class="col-1 m-3">
  <button type="button" id="update-modal-btn-event" class="btn" data-bs-toggle="modal" data-bs-target="#entryModal"
    data-new-select="event">New Expense</button>
  {{> entry-modal}}

</section>
<script type="module" src="/js/donut.js"></script>
<script type="module" src="/js/bargraph.js"></script>
<script type="module" src="/js/updateScripts.js"></script>