<!-- Modal -->
<div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Expense:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div id="expenseData" class="col-8 ">
            <form id="donutData">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="expenseAmount" disabled>
                <label for="expenseAmount">Amount</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="expenseCategory" disabled>
                <label for="expenseCategory">Category</label>
              </div>
              <div class="form-floating mb-3">
                <input type="date" class="form-control" id="weekNumber" disabled>
                <label for="weekNumber">Week Number</label>
              </div>
            </form>
          </div>
          <div id="thesholdData" class="col-5 ">
          </div>
        </div>
      </div>
      <div class="modal-footer" id="buttons">
        <button id="editExpense" type="button" class="btn" aria-label="Close" data-bs-toggle="modal"
          data-bs-target="#entryModal" data-select="update-expense">Edit Expense</button>
        <button id="deleteExpense" type="button" class="btn">Delete Expense</button>
      </div>
    </div>
  </div>
</div>