<!-- newGoal.js -->

<div class="container mt-5">
  <h2 class="mb-4">New Week</h2>
  <form class="new-week-form">
    <div class="mb-3">
      <label for="id-new-week" class="form-label">ID:</label>
      <input type="text" class="form-control" id="id-new-week" />
    </div>
    <div class="mb-3">
      <label for="name-new-week" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name-new-week" />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>