<form id="sub-cat-form" class="form mb-4 mx-2">
  <div class=" mb-4 mx-2">
    <label for="catName" class="form-label">Category Name:</label>
    <input type="text" name="catName" class="form-control">
  </div>
</form>