<!-- newCategory.js -->

<div class="container mt-5">
  <h2 class="mb-4">New Category</h2>
  <form class="new-goal-form">
    <div class="mb-3">
      <label for="amount-new-goal" class="form-label">Name:</label>
      <input type="text" class="form-control" id="amount-new-goal" />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>