<!-- newGoal.js -->

<div class="container mt-5">
  <h2 class="mb-4">New Goal</h2>
  <form class="new-goal-form">
    <div class="mb-3">
      <label for="name-new-goal" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name-new-goal" />
    </div>
        <div class="mb-3">
      <label for="category-id-new-goal" class="form-label">Category:</label>
      <input type="text" class="form-control" id="category-id-new-goal" />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>