<div class="container">
    <!-- Hero Image -->
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 text-center"> <!-- Center the column horizontally -->
            <img src="/images/nodatababe.jpg" class="img-fluid" alt="Hero Image" style="max-width: 100%; height: auto;">
        </div>
    </div>
    
    <!-- Message -->
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3 text-center">
            <h2>You have no data, babe. Go enter some!</h2>
        </div>
    </div>
    
    <!-- Button to redirect to dashboard -->
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3 text-center">
            <a href="/dashboard" class="btn btn-primary">Go to Dashboard</a>
        </div>
    </div>
</div>
