<!DOCTYPE html>
<html lang="en">
<header>
  <title>Interactive Budget Tracker</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qN2+x3e7mJwmvoIBIz79iQWnxjx8DwwVRPITX7xT0NZ9Q4cTQqW09q4Sn57QrwzX"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
</header>

<body>
  <nav class="navbar justified">
    <h1 class="header" href="/">Interactive Budget Tracker</h1>
    <div>
      {{#if name}}
      <h2 class="text-light fst-italic text-center">Welcome</h2>
      {{/if}}
      <a id="home" class="p-3" href="/">Home</a>
      <a id="categories" class="p-3" href="/categories">Categories</a>
      <a id="goals" class="p-3" href="/goals">Goals</a>
      <a id="spends" class="p-3" href="/spends">Spends</a>
      <a id="weeks" class="p-3" href="/weeks">Weeks</a>
      {{#if loggedIn}}
      <a id="logout" class="p-3" href="/">Sign Out</a>
      {{ else }}
      <a href="/login" id="login" class="p-3" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a>
      {{/if}}
    </div>
  </nav>
  {{{ body }}}
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  
  {{!-- <script src="/js/editCategories.js"></script> --}}
  <script src="/js/editGoals.js"></script>
  <script src="/js/editSpends.js"></script>
  <script src="/js/editWeeks.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/newCategory.js"></script>
  <script src="/js/newGoals.js"></script>
  {{!-- <script src="/js/newSpends.js"></script> --}}
  <script src="/js/newWeeks.js"></script> 
  <script type="module" src="/js/bargraph.js"></script>
  {{!-- <script type="module" src="/js/updateScripts.js"></script> --}}
</body>

</html>