<body>
    <main class="container mt-5">
        <h1 class="text-center mb-4">Create Category</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="new-category-form p-3 border rounded-3 shadow" style="background-color: var(--bs-light);">
                    <div class="mb-3">
                        <label for="name-new-category" class="form-label">Category Name:</label>
                        <input type="text" id="name-new-category" name="categoryName" class="form-control" style="background-color: #c4fbd2;" required>

                    </div>
                    <button type="submit" class="btn" style="background-color: #3ed865; color: white;">Save</button>
                </form>
            </div>
        </div>

        {{!-- categories.handlebars --}}
        <h2 class="mt-5">Your Categories</h2>
        <div class="category-list mt-3">
            {{#if categories.length}} <!-- Corrected typo 'legth' to 'length' -->
            {{#each categories as |category|}}
            {{> categories-card category}}
            {{/each}}
            {{else}}
            <p class="text-center">No categories found. Please add some!</p>
            {{/if}}
        </div>



    </main>