{{!-- chart.js --}}

<head>
    {{!-- bring in chart.js cdn --}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {{!-- connect to php file --}}
    <script type="text/php" src="../public/chartjs.php"></script>
    <title>Expense Chart</title>
</head>

<body>
    <div class="d-flex justify-content-center">
        <div class="container-fluid">
            <!-- chart containter -->
            <div id="chartContainer">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
                <!-- placeholder image, keep as unsure whether data is appending properly -->
                <img src="https://via.placeholder.com/150" alt="Chart Image" class="img-fluid">
            </div>
        </div>
    </div>

{{!-- buttons to navigate to individual partials --}}
<div class="d-flex justify-content-center">
    <div class="container mt-3 mb-5">
        <!-- Buttons to navigate to other sections -->
        <div class="row justify-content-center">
            <div class="col-md-4 text-center"> <!-- Add text-center class here -->
                <button class="btn btn-primary btn-block" style="background-color: #3ed865;"
                    onclick="location.href='/spends'">View Spends</button>
            </div>
            <div class="col-md-4 text-center"> <!-- Add text-center class here -->
                <button class="btn btn-primary btn-block" style="background-color: #3ed865" ;
                    onclick="location.href='/categories'">View Categories</button>
            </div>
            <div class="col-md-4 text-center"> <!-- Add text-center class here -->
                <button class="btn btn-primary btn-block" style="background-color: #3ed865;"
                    onclick="location.href='/weeks'">View Weeks</button>
                
            </div>
        </div>
    </div>
</div>
</body>