<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goals Tracker</title>
 
</head>

<body>
    <h1>Create Goals</h1>
    <form class="new-goals-form">
        <div class="form-group">
            <label for="name-new-goal">Goal:</label>
            <input type="text" id="name-new-goal" required>
        </div>
        <div class="form-group">
            <label for="amount-new-goal">Amount:</label>
            <input type="text" id="amount-new-goal" required>
        </div>
        <div class="form-group">
            <label for="category-id-new-goal">Category:</label>
            <input type="text" id="category-id-new-goal" required>
        </div>
        <button type="submit" class="Button">Save</button>
    </form>

    <h1>Expense List</h1>
    <div class="goals-list">
        <!-- Categories will be rendered here -->
    </div>

    <script src="goals.js"></script>
</body>

</html>
