<div class="row">
  <div class="col-md-6">
    <h1>Login</h1>
    <form class="form login-form" id="login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>

      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>

      <button type="submit" class="Button">Log in</button>
    </form>
  </div>

  <div class="col-md-6">
    <h1>Register</h1>
    <form class="form register-form" id="register-form">
      <div class="form-group">
        <label for="name-register">Name:</label>
        <input class="form-input" type="text" id="name-register" />
      </div>

      <div class="form-group">
        <label for="email-register">Email:</label>
        <input class="form-input" type="text" id="email-register" />
      </div>

      <div class="form-group">
        <label for="password-register">Password:</label>
        <input class="form-input" type="password" id="password-register" />
      </div>

      <div class="form-group">
        <label for="confirm-password">Confirm Password:</label>
        <input class="form-input" type="password" id="confirm-password" />
      </div>

      <button type="submit" class="Button">Register</button>
    </form>
  </div>
</div>