<div>
<h1 class="text-light" id="entryLabel">New Expense</h1>
<button id="closeBtnHeader" type="button" class="btn-close"></button>
</div>
<div>
  <div class="container-fluid">
    <form id="newExpense" class="form d-flex">
      <div class="col-12 flex">
        <input type="hidden" name="id" class="form-control">
        <div class="mb-4 mx-2">
          <label for="name" class="form-label">Expense Name:</label>
          <input type="text" name="name">
        </div>
        <div class="mb-4 mx-2">
          <label for="amount" class="form-label">Amount:</label>
          <input type="text" name="description">
        </div>
        <div class="mb-4 mx-2">
          <label for="category" class="form-label">Category:</label>
          <select id="cat-select"></select>
        </div>
        <div class="mb-4 mx-2">
          <label for="week" class="form-label">Week Number:</label>
          <select id="week-select"></select>
        </div>
      </div>
    </form>
  </div>
  <div id="catFormFields">
    {{> new-category}}
  </div>
  <button id="sub-new-event" type="button" class="btn btn-primary">Save</button>
  <button id="closeBtnFooter" type="button" class="btn btn-secondary">Close</button>