
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <style>
        .new-spend-form {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .new-spend-form label {
            font-weight: bold;
        }

        .new-spend-form input[type="text"] {
            width: 40%;
            padding: 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .Button {
            background-color: green;
            color: #fff;
            border: none;
            width: 20%;
            padding: 10px;
            border: 1px solid #ced4da;
            font-size: 80%;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Create Spends</h1>
    <form class="new-spend-form">
        <div class="form-group">
            <label for="name-new-spend">Spend Name:</label>
            <input type="text" id="name-new-spend" required>
        </div>
        <div class="form-group">
            <label for="amount-new-spend">Amount:</label>
            <input type="text" id="amount-new-spend" required>
        </div>
        <div class="form-group">
            <label for="category-id-new-spend">Category:</label>
            <input type="text" id="category-id-new-spend" required>
        </div>
        <div class="form-group">
            <label for="weeks-id-new-spend">Week:</label>
            <input type="text" id="weeks-id-new-spend" required>
        </div>
        <button type="submit" class="Button">Save</button>
    </form>

    <h1>Expense List</h1>
    <div class="spends-list">
        <!-- Categories will be rendered here -->
    </div>

    <script src="spends.js"></script>
</body>

</html>


{{!-- <div class="spends-list">
</div>

{{#each spends}}
<table>
    <tr>
        <th>Title</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Week</th>
    </tr>
    <tr>
        <td>{{title}}</td>
        <td>{{amount}}</td>
        <td>{{categories_id}}</td>
        <td>{{weeks_id}}</td>
    </tr>
</table>
{{> individual-spend-modal}}
{{/each}}
<section class="col-1 m-3">
    <button type="button" id="new-spend-form" class="btn" data-bs-toggle="modal" data-bs-target="#entryModal"
        data-new-select="expense">New Expense</button>

    {{> new-spend-modal}}
</section>

<head>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        .chartMenu {
            width: 100vw;
            height: 40px;
            background: #1A1A1A;
            color: rgba(54, 162, 235, 1);
        }

        .chartMenu p {
            padding: 10px;
            font-size: 20px;
        }

        .chartCard {
            width: 100vw;
            height: calc(100vh - 40px);
            background: rgba(54, 162, 235, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .chartBox {
            width: 700px;
            padding: 20px;
            border-radius: 20px;
            border: solid 3px rgba(54, 162, 235, 1);
            background: white;
        }
    </style>
</head>

<body>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script>
        // setup
        const data = {
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
            datasets: [{
                label: 'Weekly Sales',
                data: [18, 12, 6, 9, 12, 3, 9],
                backgroundColor: [
                    'rgba(255, 26, 104, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(0, 0, 0, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 26, 104, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(0, 0, 0, 1)'
                ],
                borderWidth: 1
            }]
        };
        // config
        const config = {
            type: 'bar',
            data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };
        // render init block
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
        // Instantly assign Chart.js version
        const chartVersion = document.getElementById('chartVersion');
        chartVersion.innerText = Chart.version;
    </script>
</body> --}}

