<body>
  <main class="container mt-5">
    <h1 class="text-center mb-4">Create Spend Expense</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form class="new-spend-form p-3 border rounded-3 shadow" style="background-color: var(--bs-light);">
          <div class="mb-3">
            <label for="name-new-spend" class="form-label">Spend Name:</label>
            <input type="text" id="name-new-spend" class="form-control" style="background-color: #c4fbd2;" required>
          </div>

          <div class="mb-3">
            <label for="amount-new-spend" class="form-label">Spend amount:</label>
            <input type="text" id="amount-new-spend" class="form-control" style="background-color: #c4fbd2;" required>
          </div>

          <!-- Category selection dropdown -->
          <div class="mb-3">
            <label for="category-select" class="form-label">Category:</label>
            <select id="category-select" class="form-control" required>
              <option value="">Select a Category</option>
              {{#each categories}}
              <option value="{{this.categories_id}}">{{this.categories_name}}</option>
              {{/each}}
            </select>
          </div>

          <button type="submit" class="btn" style="background-color: #3ed865; color: white;">Save</button>
        </form>

      </div>
    </div>

    {{!-- spends.handlebars --}}
    <h2 class="mt-5">Your Spends</h2>
    <div class="category-list mt-3">
      {{#if spends.length}} <!-- Corrected typo 'legth' to 'length' -->
      {{#each spends as |spend|}}
      {{> spends-card spend}}
      {{/each}}
      {{else}}
      <p class="text-center">No spends found. Please add some!</p>
      {{/if}}
    </div>



  </main>